.dronedata-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem;
    min-height: 100vh;
    height: 100vh;
    background-color: #171717;
  }

.chart-container {
    padding: 1rem;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 48vh;
  }
  
  .chart-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .doughnut-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .doughnut-label {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #10b981;
  }
  